.info-card-container {
  width: 25vw;
  height: 35vh;
}

.padded-info-card-icon {
  width: fit-content;
  padding: 15px;
  border-radius: 15px;
  background-color: var(--off-teal);
}

@media (max-width: 768px) {
  .info-card-container {
    width: 80vw;
    margin-bottom: 5vh;
  }
}
